.epic-selector-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    height: 75px;
    margin: 10px; 

    > div {
     margin: 10px;
    }
}

