.state-container {
    display: flex;
    flex-direction: row;
    align-items: center;

}
.state-indicator {
    height: 6px;
    width: 6px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
    padding: 5px;
    margin: 2px;
    cursor: pointer;
}

.state-name {
    margin-left: 5px;
}