.progress-indicator-container {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.progress-details-parts {
    width: 100px;
    display: flex;
    margin-left: 15px;
    height: 10px;
    background: lightgrey;
}

.progress-completed {
    background: limegreen;
}

.progress-text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

}