@import "node_modules/azure-devops-ui/Core/_platformCommon.scss";

.plan-page {
    position: absolute;
    width: 100%;
    height: 100%;

    .exception-message-card {
        flex-shrink: 0;
    }

    .plan-spinner {
        width: 100%;
        height: 100%;
    }
}

.bolt-button.bolt-header-back-button {
    font-size: $fontSizeML;
    margin-right: $spacing-8;
}
