@import "node_modules/azure-devops-ui/Core/_platformCommon.scss";

.plan-page {
    position: absolute;
    width: 100%;
    height: 100%;

    .plan-content {
        width: 100%;
        height: 100%;
        overflow-y: auto;
    }

    .plan-spinner {
        width: 100%;
        height: 100%;
    }
}

.bolt-button.bolt-header-back-button {
    font-size: $fontSizeML;
    margin-right: $spacing-8;
}
