@import "node_modules/azure-devops-ui/Core/_platformCommon.scss";
@import "node_modules/azure-devops-ui/Core/core.scss";

.plan-timeline-container {
    height: 100%;
    background-color: $neutral-2;
    padding-top: $spacing-16;

    .secondary-date-header {
        @extend .font-weight-semibold;
        color: $secondary-text;
        text-align: center;
        height: 100%;
        border-right: 1px solid $neutral-10;
    }
}

.plan-timeline-group {
    @extend .title-xs;

    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: normal;
    text-align: center;
}

.plan-timeline-item {
    @extend .depth-8;
    @extend .font-weight-semibold;

    .details {
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        align-items: baseline;
        white-space: nowrap;

        .title {
            margin-left: $spacing-8;
            margin-right: $spacing-8;
            overflow: hidden;
            text-overflow: ellipsis;
            flex: 1 1 auto;
            min-width: 15px;
        }

        .progress-indicator {
            flex: 1 2 auto;
            overflow: hidden;
        }

        .action-icons {
            display: flex;

            .info-icon {
                color: $communication-foreground;
            }
        }

        .progress-indicator-container {
            display: flex;
            justify-content: flex-end;
            flex-shrink: 1;
        }
    }

    &:hover .show-on-hover {
        display: inherit;
    }

    .to-epic-roadmap {
        color: $communication-foreground;
        display: flex;
        align-items: center;
    }

    .show-on-hover {
        display: none;
        min-width: 0;
    }
}

// Copied from react-calendar-timeline //
.react-calendar-timeline {
    padding-left: $spacing-32;
    padding-right: $spacing-32;
    background-color: $neutral-2;
}

.react-calendar-timeline * {
    box-sizing: border-box;
}

.react-calendar-timeline .rct-outer {
    display: block;
    overflow: hidden;
    white-space: nowrap;
}

.react-calendar-timeline .rct-scroll {
    display: inline-block;
    white-space: normal;
    vertical-align: top;
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-touch-action: none;
    touch-action: none;
}

.react-calendar-timeline .rct-item:hover {
    z-index: 88;
}

.react-calendar-timeline .rct-item .rct-item-content {
    position: sticky;
    position: -webkit-sticky;
    left: 0px;
    overflow: hidden;
    display: inline-block;
    border-radius: 2px;
    padding: 0 6px;
    height: 100%;
}

.react-calendar-timeline .rct-sidebar {
    overflow: hidden;
    white-space: normal;
    display: inline-block;
    vertical-align: top;
    position: relative;
    box-sizing: border-box;
    border-right: 1px solid $neutral-10;
}
.react-calendar-timeline .rct-sidebar.rct-sidebar-right {
    border-right: 0;
    border-left: 1px solid $neutral-10;
}
.react-calendar-timeline .rct-sidebar .rct-sidebar-row {
    padding: 0 4px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    box-sizing: content-box;
    margin: 0;
    border-bottom: 1px solid $neutral-10;
}
.react-calendar-timeline .rct-sidebar .rct-sidebar-row.rct-sidebar-row-odd {
    // background: rgba(0, 0, 0, 0.05);
    background-color: $neutral-2;
}
.react-calendar-timeline .rct-sidebar .rct-sidebar-row.rct-sidebar-row-even {
    // background: transparent;
    background-color: $neutral-2;
}

.react-calendar-timeline .rct-vertical-lines .rct-vl {
    position: absolute;
    border-right: 1px dashed $neutral-10;
    z-index: 30;
}
.react-calendar-timeline .rct-vertical-lines .rct-vl.rct-vl-first {
    // border-left-width: 2px;
}
.react-calendar-timeline .rct-vertical-lines .rct-vl.rct-day-6,
.react-calendar-timeline .rct-vertical-lines .rct-vl.rct-day-0 {
    background: rgba(250, 246, 225, 0.5);
}

.react-calendar-timeline .rct-horizontal-lines .rct-hl-even,
.react-calendar-timeline .rct-horizontal-lines .rct-hl-odd {
    border-bottom: 1px solid $neutral-10;
    box-sizing: content-box;
    z-index: 40;
}

.react-calendar-timeline .rct-horizontal-lines .rct-hl-odd {
    // background: rgba(0, 0, 0, 0.05);
    background-color: $neutral-2;
}

.react-calendar-timeline .rct-horizontal-lines .rct-hl-even {
    // background: transparent;
    background-color: $neutral-2;
}

.react-calendar-timeline .rct-cursor-line {
    position: absolute;
    width: 2px;
    background: #2196f3;
    z-index: 51;
}

.react-calendar-timeline .rct-infolabel {
    position: fixed;
    left: 100px;
    bottom: 50px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    z-index: 85;
}

.react-calendar-timeline .rct-dateHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    // border-bottom: 1px solid #bbb;
    cursor: pointer;
    // font-size: 14px;
    // background-color: #f0f0f0;
    // border-left: 2px solid transparent;

    @extend .font-weight-semibold;
    color: $secondary-text;
    border-right: 1px solid $neutral-10;
}

.react-calendar-timeline .rct-dateHeader-primary {
    // background-color: initial;
    // border-left: 1px solid #bbb;
    // border-right: 1px solid #bbb;
    // color: #fff;

    // display: none;
}

.react-calendar-timeline .rct-header-root {
    // background: #c52020;
    border-bottom: 1px solid $neutral-10;
}

.react-calendar-timeline .rct-calendar-header {
    // border: 1px solid #bbb;
}

// End copy from react-calendar-timeline //
