.epic-selector-container {
    display: flex;
    margin-bottom: 5px;
    margin-top: 5px;
}

.select-epic-label {
    font-size: 15px;
    margin-right: 5px;
}

.epic-selector-dropdown{
    min-width: 500px;
}
