.epic-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.missing-iteration-name {
    font-size: 15px;
}


.simple-work-item-list {
    margin-top: 10px;
}

.loading-indicator {
    margin-top: 10px;
}