.successor-predeccessor {
    margin-left: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 25px;
}

.work-item-links-list-callout {
    padding: 10px;
}

.callout-title {
    font-weight: bolder;
}

.highlight-icon {
    background: yellow;
    border-color: yellowgreen;
}

.team-field-value {
    font-weight: bolder;
    margin-bottom: 5px;
}