.successor-predeccessor {
    margin-left: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 25px;
}

.work-item-links-list-callout {
    padding: 10px;
}
.work-item-link-container {
    display: flex;
    flex-direction: row;
    margin: 2px;
}
.work-item-link-id {
    margin-right: 5px;
}

.callout-title {
    font-weight: bolder;
}

.highlight {
    background: yellowgreen;
}