@mixin textOverflow {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

@mixin rootContainer {
    display: flex;
    flex-direction: row;
    background: white;
    margin-top: 10px;
    padding: 2px;
    text-align: center;
    font-size: 15px;
    border-radius: 8px;
    border: 1px solid;
    border-left: 5px solid;
    justify-content: space-between;
    overflow: hidden;
}

.work-item-renderer {
    @include rootContainer();
}

.root-work-item-renderer {
    @include rootContainer();
    margin-top: 0px;
    min-height: 46px;
    height: calc(100% - 5px);
}

.work-item-detail-rows {
    flex: 1;
    display: flex;
    flex-direction: column;

    @include textOverflow();
}

.work-item-detail-row {
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;

    @include textOverflow();
}

.work-item-row {
    display: flex;
}

.work-item-details-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;

    @include textOverflow();
}

.work-item-details-container:hover+.info-icon {
    color: grey !important;
}

.work-item-details-without-infoicon {
    width: calc(100% - 10px);
}

.work-item-details-with-infoicon {
    width: calc(100% - 30px);
}

@mixin work-item-iteration-indicator {
    cursor: pointer;
    background: lightgray;
    opacity: 0.7;
    color: black;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
    font-size: 12px;
}

.work-item-start-iteration-indicator {
    @include work-item-iteration-indicator;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.work-item-end-iteration-indicator {
    @include work-item-iteration-indicator;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.work-item-iteration-override-handle {
    width: 5px;
    background: transparent;
    cursor: ew-resize;
}

.title-contents {
    cursor: pointer;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    flex-grow: 1 0 auto;
    font-weight: 400;
    @include textOverflow();
}

.work-item-shadow {
    @include rootContainer;
    border: transparent;
    background: transparent;
    color: white;
}

.work-item-gap {
    margin-top: 10px;
    border: 1px solid lightgrey;
}