@mixin default2 {
    display: flex;
    flex-direction: row;
    color: black;
    text-align: center;
    margin-top: 10px;
    font-size: 15px;
    padding: 2px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    border-radius: 20px;
    border: 1px solid;
    border-top-width: 5px;
    //border-bottom-width: 5px;
    background: white;
}

@mixin work-item-iteration-indicator2 {
    cursor: pointer;
    background: grey;
    opacity: 0.7;
    color: black;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
    font-size: 12px;

}

.work-item-start-iteration-indicator2 {
    @include work-item-iteration-indicator2;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.work-item-end-iteration-indicator2 {
    @include work-item-iteration-indicator2;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.small-border2 {
    width: 5px;
    background: transparent;
    cursor: ew-resize;
}

.work-item-details-container2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-without-infoicon2 {
    width: calc(100% - 10px);
}

.title-with-infoicon2 {
    width: calc(100% - 30px);
}

.title-contents2 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    flex-grow: 1 0 auto;
    font-weight: 400;
}

.work-item-shadow2 {
    @include default2;
}

.work-item-details-container2:hover+.info-icon2 {
    color: grey !important;
}

.work-item2 {
    @include default2;
}

.root-work-item2 {
    @include default2;
    margin-top: 0px;
    border-radius: 5px;
    height: calc(100% - 5px);
}

.work-item-gap2 {
    margin-top: 10px;
    border: 1px solid lightgrey;
}